html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  opacity: inherit;
  transition: all 200ms ease-in-out;
  opacity: inherit;
  color: inherit;
}

#connect-icons {
  list-style: none;
  position: absolute;
  margin: 10px;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin: 10px;
  width: 30px;
  color: #708090;
}

.icon:hover {
  cursor: pointer;
}

#onward {
  position: absolute;
  font-size: 28px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: inline;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 50px 80px 2px rgba(255,255,255,1);
}

h3 {
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  margin: 40px 40px 0px 40px;
}

#title {
  width: 50%;
}

#work-space {
  position: relative;
  flex: 1;
}

.hide {
  opacity: 0 !important;
}

.visual-box {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top {
  top: 10%;
}

.center {
  top: 30%;
  opacity: 1;
}

.visual-box.off-screen {
  top: -100% !important;
  opacity: 0;
}

.visual-box.bottom {
  top: 50%;
}

#intro {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 50%;
  padding: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.digit {
  font-size: 48px;
  border-radius: 3px;
  display: inline;
  margin: 25px;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 100ms ease-in-out !important;
}

.hoverable:hover {
  cursor: pointer;
  background-color: #FF3333;
}

#draw-button {
  front-size: 24px;
}

#digits-box {
  transition: all 1000 ease-in-out !important;
}

#csv-box {
  transition: all 1000 ease-in-out !important;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.next-button {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 150ms ease-in-out !important;
  background-color: white;
  font-size: 24px;
}

.node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
  color: white;
}

.node p {
  text-align: center;
}

.node-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.weights-matrix {
  position: absolute;
  z-index: -100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.value-callout {
  background-color: #FFFFFF;
  z-index: 2;
  font-size: 96px;
  font-weight: 700;
  color: #FF3333;
  position: absolute;
  top: 40%;
  right: 20%;
  box-shadow: 0px 0px 100px 50px rgba(255,255,255,1);
}

.path {
  display: none;
}

.path.show {
  display: block;
}

#arrow {
  position: absolute;
}

#answer-digits {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.answer-digit {
  position: absolute;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
  padding: 0px 10px;
  margin: 2px;
  font-size: 24px;
}

#arrow-box {
  position: absolute;
}

.arrow {
	position: relative;
	background: #FF3333;
	border: 2px solid #000000;
  padding: 10px;
  border-radius: 4px;
  font-size: 24px;
}
.arrow:after, .arrow:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FF3333;
	border-width: 30px;
	margin-left: -30px;
}
.arrow:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 32px;
	margin-left: -32px;
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0px 0px 100px 50px rgba(255,255,255,1);
  background-color: #FFFFFF;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
